<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='icon' type="image/x-icon">
  
  <title>Hello there</title>
  <style>
    h1{
      font-size: 4rem;
      font-family: Roboto;
      text-align: center;
    }
    #banner{
      object-fit:cover;
    }
    #container{
      max-width: 800px;
      margin:auto;
    }
  </style>
</head>
<body>
  <div id="container">
    <h1>Jovian Careers</h1>
      <p>Hello there, you'll learn about me here!</p>
      <img id = "banner" src="https://1dc7768a-d409-47a0-8bc3-876584d20289-00-31o39ks6hnu7w.pike.replit.dev:5000/static/main_banner.jpg" width=100% height="450px"><br>
    <h2>About Us</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quaerat incidunt illum saepe excepturi, voluptate facilis nulla ullam, animi, et tempore amet odio dolorem eos obcaecati optio voluptatibus. Quas, excepturi?   Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus iure fugiat pariatur laboriosam iusto aliquid reiciendis eius dolores. Dolores, dicta deserunt ex commodi nostrum at earum optio voluptatem voluptas doloribus.</p>
  <h2>Open Positions</h2>
      <p>To do, add jobs here</p>
      <div style="text-align:center;"">
        <button>Contact Us</button>
      </div>
        
  </div>
</body>
</html>